<app-header></app-header>
<h2 style="text-align: center;"><b>POSTS</b></h2>
<div class="divStyle">
    <div class="boxStyle" *ngFor="let item of Object.keys(posts)">
        <form [formGroup]="BranchForm" autocomplete="off">
            <!-- <p><b> Title: </b></p> -->
            <p><b>{{posts[item].title}}</b></p>
            <!-- <p><b> Body: </b></p> -->
            <p>{{posts[item].body}}</p>
            <button mat-raised-button color="primary">Edit</button>
            <mat-form-field appearance="outline">
                <mat-label></mat-label>
                <textarea matInput formControlName="text" style="font-size: 14px; font-weight: 600;"
                    [value]="posts[item].body" style="width: 410px;">
                    </textarea>
            </mat-form-field>
        </form>
    </div>
</div>
<app-footer></app-footer>